<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/mcp-nexus-internal.log">

    <targets>
        <target xsi:type="File" name="mainFile" fileName="${basedir}/mcp-nexus.log"
                layout="${time} [${level:uppercase=true}] ${message} ${exception:format=ToString}"
                archiveFileName="${basedir}/archive/mcp-nexus-${shortdate}-{##}.log"
                archiveEvery="Day"
                archiveNumbering="Sequence"
                maxArchiveFiles="30"
                keepFileOpen="false"
                autoFlush="true"
                createDirs="true" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="mainFile" />
    </rules>
</nlog>